/* =============================================
   Card Component
   ============================================= */

.card {
   background: var(--clr-bg-card);
   border-radius: var(--radius-lg);
   padding: var(--spacing-md);
   border: 1px solid var(--clr-border-light);
   box-shadow: var(--shadow-sm);
}

.card--inner {
   background: var(--color-bg-card-inner);
   border: 1px solid var(--clr-primary-a20);
}

.card--container {
   border-radius: var(--radius-xl);
   border: 1px solid var(--clr-border);
   padding: var(--spacing-md);
}